<% include partials/header %>
<div class="ui main text container">
  <div class="ui huge header">Marks Database!</div>
  <div class="ui top attached segment">
    <div class="ui divided items">
      <%diary.find(function(mydiary){ %>
      

          <% if(mydiary.name == output) { %>
            <div class="item">
              <div class="content">
            <p>NAME: <%=mydiary.name%></p>

            <p>SUBJECT: <%=mydiary.subject.substring(0, 90) %></p>
            <p>MARKS: <%=mydiary.marks %></p>
          </div>
        </div>

            

            <% } else {%> 
              
              <p></p>

              <%}%>



      <% }) %>
    </div>
  </div>
</div>
<% include partials/footer %>
